extends ./layout/index

block contenido
    main.container.mt-5
        h1.text-center.mt-5 #{pagina}

        blockquote.text-center Experiencia de nuestros clientes
        include ./layout/bloques_opiniones
        
        .row
            .col-md-12
                h2.d-block.w-100.text-center Danos tu Opinión

                if(errores)
                    each error in errores
                        .alert.col.alert-danger.text-center= error.mensaje

            .row.justify-content-center.col
                .col-md-8
                    form(action="/opiniones" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#nombre.form-control(type="text", placeholder="Tu nombre", name="nombre", value= nombre)
                        .form-group
                            label(for="correo") Correo Electrónico
                            input#correo.form-control(type="email", placeholder="Tu correo electrónico", name="correo", value= correo)
                        .form-group
                            label(for="mensaje") Mensaje
                            textarea#mensaje.form-control(name="mensaje", placeholder="Tu mensaje", rows="3")= mensaje
                        input.btn.btn-success.btn-block(type="submit")